@import "main";

body {
    font-family: "Franklin Gothic Medium", Arial, sans-serif;
    font-size: medium;
    @media screen and (max-width: 768px) {
        font-size: large;
    }
}

.icon-github {
    background: url("../images/github-mark.png");
    height: 20px;
    width: 20px;
    display: block;
}
